<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>sistema.entregas</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ItemInserir</display-name>
    <servlet-name>ItemInserir</servlet-name>
    <servlet-class>web.ItemInserir</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ItemInserir</servlet-name>
    <url-pattern>/ItemInserir</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ItemListarEntregas</display-name>
    <servlet-name>ItemListarEntregas</servlet-name>
    <servlet-class>web.ItemListarEntregas</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ItemListarEntregas</servlet-name>
    <url-pattern>/ItemListarEntregas</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ItemListarProdutos</display-name>
    <servlet-name>ItemListarProdutos</servlet-name>
    <servlet-class>web.ItemListarProdutos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ItemListarProdutos</servlet-name>
    <url-pattern>/ItemListarProdutos</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManterProdutos</display-name>
    <servlet-name>ManterProdutos</servlet-name>
    <servlet-class>web.ManterProdutos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManterProdutos</servlet-name>
    <url-pattern>/ManterProdutos</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProdutoAtualizar</display-name>
    <servlet-name>ProdutoAtualizar</servlet-name>
    <servlet-class>web.ProdutoAtualizar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProdutoAtualizar</servlet-name>
    <url-pattern>/ProdutoAtualizar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProdutoEditar</display-name>
    <servlet-name>ProdutoEditar</servlet-name>
    <servlet-class>web.ProdutoEditar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProdutoEditar</servlet-name>
    <url-pattern>/ProdutoEditar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProdutoExcluir</display-name>
    <servlet-name>ProdutoExcluir</servlet-name>
    <servlet-class>web.ProdutoExcluir</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProdutoExcluir</servlet-name>
    <url-pattern>/ProdutoExcluir</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProdutoRemover</display-name>
    <servlet-name>ProdutoRemover</servlet-name>
    <servlet-class>web.ProdutoRemover</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProdutoRemover</servlet-name>
    <url-pattern>/ProdutoRemover</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProdutoNovo</display-name>
    <servlet-name>ProdutoNovo</servlet-name>
    <servlet-class>web.ProdutoNovo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProdutoNovo</servlet-name>
    <url-pattern>/ProdutoNovo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InstanciarProduto</display-name>
    <servlet-name>InstanciarProduto</servlet-name>
    <servlet-class>web.InstanciarProduto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InstanciarProduto</servlet-name>
    <url-pattern>/InstanciarProduto</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProdutoInserir</display-name>
    <servlet-name>ProdutoInserir</servlet-name>
    <servlet-class>web.ProdutoInserir</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProdutoInserir</servlet-name>
    <url-pattern>/ProdutoInserir</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProdutoResultado</display-name>
    <servlet-name>ProdutoResultado</servlet-name>
    <servlet-class>web.ProdutoResultado</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProdutoResultado</servlet-name>
    <url-pattern>/ProdutoResultado</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProdutoDetalhe</display-name>
    <servlet-name>ProdutoDetalhe</servlet-name>
    <servlet-class>web.ProdutoDetalhe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProdutoDetalhe</servlet-name>
    <url-pattern>/ProdutoDetalhe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ItemInclusao</display-name>
    <servlet-name>ItemInclusao</servlet-name>
    <servlet-class>web.ItemInclusao</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ItemInclusao</servlet-name>
    <url-pattern>/ItemInclusao</url-pattern>
  </servlet-mapping>
</web-app>